<div class="flex-column">
       <div class="up" *ngIf="index == '1'">
              <p class="message" [ngClass]="{'visibility' : isError, 'invisibility' : !isError}" *ngIf="isError && index == '1'">{{ message }}</p>
       </div>             
       
       <div class="middle">
              <input [type]="type" 
                     [class]="class" 
                     [id]="id" 
                     [name]="name" 
                     [placeholder]="placeholder" 
                     (mousedown)="MouseEnter($event)" 
                     (keyup)="OnKey($event)" 
                     (focus)="Focus($event)"
                     (blur)="Validation($event)" 
                     [tabindex]='index' 
                     [value]="value"
                     [readonly]="readOnly"
                     #myDOMElement/>
       </div>
       
       <div class="down" *ngIf="index == '2'">
              <p class="message" [ngClass]="{'visibility' : isError, 'invisibility' : !isError}" *ngIf="isError">{{ message }}</p>
       </div>
</div>